* {
  font-family: 'Baloo Bhai 2', cursive;
  padding: 0px;
  margin: 0px;
}
.navbar {
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
.navbar li {
  padding: 10px;
}
